<header class="navbar">
  <a href="/index.html" class="logo-text">
    Yggdra Tech
  </a>

  <button class="hamburger-menu" type="button" aria-label="Abrir menu">
    <i class="fas fa-bars"></i>
  </button>

  <nav id="main-nav">
    <ul class="nav-list">
      <li>
        <a href="/index.html">Home</a>
      </li>

      <li>
        <a href="/pages/services.html">Soluções</a>
      </li>

      <li>
        <a href="/pages/quem-somos.html">Quem Somos</a>
      </li>

      <li>
        <a href="mailto:yggdratech@outlook.com" class="nav-contact-btn">
          Fale conosco
          <i class="fa-solid fa-arrow-up-right-from-square"></i>
        </a>
      </li>
    </ul>
  </nav>

  <div class="nav-overlay"></div>
</header>
